@{
    ViewBag.Title = "Quiniela MVC 4";
}

<div class="container">
    <div class="page-header">
        <h3>¡Bienvenido al sitio web de quinielas más popular del mundo!</h3>
        <p>Inicia sesión para seguir disfrutando del servicio o registrate para unirte a nosotros.</p>
    </div>
</div>
<div id="banner">
</div>
