@{
    ViewBag.Title = "Quinela | Administración de quinielas";
}


<div class="container">
    <div class="page-header">
        <ul class="navlist" style="float:left;">
            <li><h1>Administrar</h1></li>

            <li>@Html.ActionLink("Partidos", "GameList", "PoolAdministration")</li>

            <li>@Html.ActionLink("Jornadas", "WeekList", "PoolAdministration")</li>


            <li>@Html.ActionLink("Ligas", "LeagueList", "PoolAdministration")</li>

            <li>@Html.ActionLink("Equipos", "TeamList", "PoolAdministration")</li>
        </ul>
    </div>
</div>
