@{
    ViewBag.Title = "Quiniela | Éxito";
}

<div class="container">
    <div class="page-header">
        <h2>Cambio de contraseña exitoso</h2>
        <p>
            Tu contraseña se actualizó existosamente.
        </p>
    </div>
</div>
