@if (Request.IsAuthenticated) {
        <ul class="navlist" id="menulist">
            <li>
                @Html.ActionLink("Nueva Quiniela", "Create", "Pool")
            </li>
            <li>
                @Html.ActionLink("Modificar Quiniela", "Edit", "Pool")
            </li>
            <li>
                @Html.ActionLink("Clasificación", "Classification", "Pool")
            </li>
       </ul>
}